.idea/
log/
*.iml
*.csv
.DS_Store
target/
*.swp
*.swo
*.log
logs/
/target
.project
.vagrant
.classpath
.settings
*.key
~*.doc
*.pdb
**/node_modules

docker/TOMCAT/ROOT.war
docker/TOMCAT/dpl_settings.properties
#dpl_settings_sample.properties